.footer-wraper {
  background-color: #313955;
  padding: 32px 0px;
}
.footer-wraper .footer-content {
  display: flex;
  flex-direction: column;
}
.footer-wraper .main-footer {
  display: flex;
  margin-top: 24px;
}
.footer-wraper .footer-logo {
  display: block;
  min-width: 176px;
  max-width: 176px;
  height: 41px;
}
@media (max-width: 991px) {
  .footer-wraper .footer-logo {
    min-width: 134px;
    max-width: 134px;
    height: 36px;
  }
}

.footer-wrapper-pc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #ffffff;
  display: flex;
}
@media (max-width: 991px) {
  .footer-wrapper-pc {
    display: none;
  }
}
.footer-wrapper-pc .left-column {
  width: 20%;
}
.footer-wrapper-pc .left-column .description {
  margin-bottom: 12px;
}
.footer-wrapper-pc .right-column {
  width: 80%;
  padding: 0px 32px;
}
.footer-wrapper-pc .right-column .hot-comming-match {
  margin-top: 24px;
  flex-direction: column;
}
.footer-wrapper-pc .right-column .hot-comming-match .list-comming-match {
  display: flex;
}
.footer-wrapper-pc .right-column .top-footer-menu,
.footer-wrapper-pc .right-column .hot-comming-match {
  display: flex;
}
.footer-wrapper-pc .right-column .top-footer-menu .column,
.footer-wrapper-pc .right-column .hot-comming-match .column {
  width: 25%;
}
.footer-wrapper-pc .right-column .top-footer-menu .title,
.footer-wrapper-pc .right-column .hot-comming-match .title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu {
  display: flex;
  flex-direction: column;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu li,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu li {
  margin-bottom: 6px;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu li a,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  color: #ffffff;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu .text-danger a,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu .text-danger a {
  color: #f1516e !important;
}

.footer-wrapper-mb {
  display: none;
  flex-direction: column;
}
@media (max-width: 991px) {
  .footer-wrapper-mb {
    display: flex;
  }
}
.footer-wrapper-mb .main-footer {
  flex-direction: column;
}
.footer-wrapper-mb .footer-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.footer-wrapper-mb .footer-info .description,
.footer-wrapper-mb .footer-info .email,
.footer-wrapper-mb .footer-info .copy-right {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */
  color: #ffffff;
}
.footer-wrapper-mb .footer-info .email {
  margin: 8px 0px;
}
.footer-wrapper-mb .sub-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.footer-wrapper-mb .sub-menu li {
  margin-right: 16px;
  margin-bottom: 16px;
}
.footer-wrapper-mb .sub-menu li a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  /* #3AC5C9 */
  color: #3ac5c9;
}
.footer-wrapper-mb .hot-match-comming .title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #ffffff;
  margin-bottom: 12px;
}
.footer-wrapper-mb .hot-match-comming .list-hot-match {
  display: flex;
  flex-wrap: wrap;
}
.footer-wrapper-mb .hot-match-comming .list-hot-match li {
  margin-right: 12px;
  margin-bottom: 4px;
}
.footer-wrapper-mb .hot-match-comming .list-hot-match li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #ffffff;
}

/*# sourceMappingURL=footer.css.map */
