/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.fixed-header .main-header {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  z-index: 99999999;
}
.fixed-header .main-header .logo img {
  max-height: 35px;
}

.main-header {
  position: relative;
  width: 100%;
  background: #3AC5C9;
  color: #fff;
  transition: all 0.4s ease;
  padding: 8px 40px;
  z-index: 9999999;
}
@media only screen and (max-width: 1199px) {
  .main-header {
    padding-left: 0;
    padding-right: 0;
  }
}
.main-header .btn-menu {
  outline: 0;
  line-height: 1;
  box-shadow: none;
  margin-left: 5px;
}
.main-header .btn-menu path {
  transition: all 0.4s ease;
}
.main-header .logo img {
  max-height: 41px;
  max-width: 155px;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 575px) {
  .main-header .logo img {
    max-width: 155px;
  }
}
.main-header .col-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-header .col-nav .main-nav {
  margin-top: -2px;
}
.main-header .col-nav .main-nav li:first-child {
  margin-left: 0 !important;
}
@media only screen and (max-width: 1199px) {
  .main-header .col-nav .main-nav li {
    margin-left: 18px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .col-nav .main-nav li {
    margin-left: 4px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-header .col-nav .main-nav li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .col-nav .main-nav li a {
    font-size: 15px;
  }
}

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 22px;
}
.main-nav li a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #313955;
  text-decoration: none;
}
.main-nav li a:hover:before, .main-nav li a.active:before {
  opacity: 1;
  width: 100%;
}
.main-nav .btn-header {
  outline: none;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 8px;
  min-width: 72px;
}
.main-nav .btn-header:focus {
  outline: none;
}
.main-nav .btn-signin {
  background: #313955;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}
.main-nav .btn-signup {
  border: 1px solid #313955;
  border-radius: 8px;
  text-decoration: none;
  background-color: transparent;
  color: #313955;
}
.main-nav .authen-header {
  display: inline-flex;
  gap: 8px;
  margin-left: 24px;
}

/* -----------------------------------------------------------
	off canvas menu
----------------------------------------------------------- */
.offcanvas.show {
  width: 100%;
  border: 0;
}
.offcanvas .logo img {
  max-width: 155px;
}
@media only screen and (max-width: 575px) {
  .offcanvas .logo img {
    max-width: 155px;
  }
}
.offcanvas .main-nav {
  text-align: center;
}
.offcanvas .main-nav li {
  display: block;
  margin-bottom: 40px;
}

.main-menu-wrapper {
  padding: 20px 0px 0px 0px;
  background-color: #3AC5C9;
}
.main-menu-wrapper .main-menu {
  width: 100%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .main-menu-wrapper .main-menu {
    max-width: 100%;
    overflow: auto;
  }
}
.main-menu-wrapper .main-menu li {
  margin-right: 32px;
}
@media only screen and (max-width: 991px) {
  .main-menu-wrapper .main-menu li {
    margin-right: 24px;
  }
}
.main-menu-wrapper .main-menu li a {
  display: flex;
  align-items: center;
  border-bottom: 15px;
  padding-bottom: 15px;
}
.main-menu-wrapper .main-menu li a:hover {
  padding-bottom: 11px;
  border-bottom: 4px solid #313955;
}
.main-menu-wrapper .main-menu li a img {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}
.main-menu-wrapper .main-menu li a span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #313955;
}
.main-menu-wrapper .main-menu li:last-child {
  margin-right: 0;
}
.main-menu-wrapper .main-menu .active a {
  padding-bottom: 11px;
  border-bottom: 4px solid #313955;
}

/*# sourceMappingURL=header.css.map */
