.match-page-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* Gray:900 */
  color: #1A202C;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .match-page-title {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
  }
}

.main-match-page-wrapper {
  width: 100%;
  height: auto;
  padding: 16px 0px;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper {
    padding: 12px 0px;
  }
}
.main-match-page-wrapper .match-info-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 16px 0px 24px 0px;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper {
    margin: 10px 0px 16px 0px;
  }
}
.main-match-page-wrapper .match-info-wrapper .result-detail {
  min-width: 205px;
  max-width: 205px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .result-detail {
    min-width: 130px;
    max-width: 130x;
    padding: 0px 16px;
  }
}
.main-match-page-wrapper .match-info-wrapper .result-detail .score {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  /* Gray:900 */
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .result-detail .score {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
  }
}
.main-match-page-wrapper .match-info-wrapper .result-detail .time-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-match-page-wrapper .match-info-wrapper .result-detail .time-wrapper .time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  /* Red:600 */
  color: #E53E3E;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .result-detail .time-wrapper .time {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}
.main-match-page-wrapper .match-info-wrapper .result-detail .time-wrapper .sign {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  /* Gray:600 */
  color: #718096;
  margin-top: 2px;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .result-detail .time-wrapper .sign {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  flex-grow: 1;
  border: 1px solid green;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .club-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper .club-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: right;
  /* Gray:900 */
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .club-wrapper .club-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper .club-image {
  min-width: 44px;
  max-width: 44px;
  height: 44px;
  object-fit: cover;
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper:first-of-type {
  justify-content: flex-end;
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper:first-of-type .club-name {
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .club-wrapper:first-of-type .club-name {
    margin-right: 0;
  }
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper:last-of-type {
  justify-content: flex-start;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .club-wrapper:last-of-type {
    flex-direction: column-reverse;
  }
}
.main-match-page-wrapper .match-info-wrapper .club-wrapper:last-of-type .club-name {
  margin-left: 16px;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .match-info-wrapper .club-wrapper:last-of-type .club-name {
    margin-right: 0;
  }
}
.main-match-page-wrapper .play-match {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .play-match {
    padding: 0;
  }
}
.main-match-page-wrapper .player-wrapper {
  width: 100%;
  display: flex;
  height: 503px;
  justify-content: center;
  position: relative;
}
@media only screen and (max-width: 1500px) {
  .main-match-page-wrapper .player-wrapper {
    height: 560px;
  }
}
@media only screen and (max-width: 768px) {
  .main-match-page-wrapper .player-wrapper {
    height: 220px;
  }
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .player-wrapper {
    height: auto;
  }
}
.main-match-page-wrapper .player-wrapper .box-player {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .player-wrapper .box-player {
    width: 100%;
    height: 211px;
  }
}
.main-match-page-wrapper .player-wrapper .box-player iframe {
  width: 100%;
  height: 100%;
}
.main-match-page-wrapper .player-wrapper .box-chat {
  min-width: 305px;
  max-width: 305px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .player-wrapper .box-chat {
    display: none;
  }
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-header {
  width: 100%;
  height: auto;
  padding: 10px 16px;
  display: flex;
  background-color: #313955;
  justify-content: space-between;
  align-items: center;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-header .box-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #3AC5C9;
  margin: 0;
  padding: 0;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-header .list-dot {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-header .list-dot .dot {
  width: 4px;
  height: 4px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 12px 16px;
  max-height: 600px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
}
@media only screen and (max-width: 1500px) {
  .main-match-page-wrapper .player-wrapper .box-chat .chat-content {
    max-height: 470px;
  }
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content::-webkit-scrollbar {
  width: 5px;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content .list-message {
  width: 100%;
  height: auto;
  padding-right: 5px;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content .list-message .message-item {
  display: flex;
  margin-bottom: 16px;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content .list-message .message-item .avatar {
  display: block;
  text-decoration: none;
  min-width: 24px;
  min-height: 24px;
  border: none;
  margin-right: 12px;
  border-radius: 50%;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content .list-message .message-item .avatar img {
  display: block;
  min-width: 24px;
  max-width: 24px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content .list-message .message-item .message-detail {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1a202c;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-content .list-message .message-item .message-detail .username {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #3AC5C9;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form {
  width: 100%;
  height: fit-content;
  padding: 12px 8px 12px 16px;
  background-color: #fff;
  border-top: 1px solid #E2E8F0;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 44px;
  align-items: center;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper form {
  display: block;
  width: 100%;
  cursor: pointer;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper input {
  width: 100%;
  height: auto;
  display: block;
  background: transparent;
  max-height: 40px;
  border: none;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper input:focus {
  outline: none;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  /* Gray:600 */
  color: #718096;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper .btn-send {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3AC5C9;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.main-match-page-wrapper .player-wrapper .box-chat .chat-form .form-wrapper .btn-send:focus {
  outline: none;
}
.main-match-page-wrapper .control {
  width: 100%;
  height: auto;
  background: #E2E8F0;
  /* Gray:300 */
  border: 1px solid #E2E8F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  max-width: 100%;
  margin: auto;
}
@media only screen and (max-width: 1500px) {
  .main-match-page-wrapper .control {
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .control {
    width: 100%;
    max-width: 100%;
  }
}
.main-match-page-wrapper .control .list-server {
  display: flex;
  gap: 12px;
}
.main-match-page-wrapper .control .list-server .btn-server {
  outline: none;
  padding: 6px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  border: none;
  color: #1A202C;
  background-color: transparent;
  text-transform: uppercase;
}
.main-match-page-wrapper .control .list-server .btn-server:focus {
  outline: none;
}
.main-match-page-wrapper .control .list-server .active {
  color: #fff;
  background: #313955;
  border-radius: 16px;
}
.main-match-page-wrapper .control .list-contact {
  display: flex;
  gap: 24px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 991px) {
  .main-match-page-wrapper .control .list-contact {
    display: none;
  }
}
.main-match-page-wrapper .control .list-contact li a {
  text-decoration: none;
  display: block;
}
.main-match-page-wrapper .control .list-contact li a img {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.main-content-match-page {
  background: #FFFFFF;
  /* Gray:300 */
  border: 1px solid #E2E8F0;
  border-radius: 8px;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page {
    border: none;
    border-radius: 0px;
  }
}
.main-content-match-page .list-match-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 36px;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .list-match-info {
    margin-bottom: 8px;
  }
}
.main-content-match-page .list-match-info .match-info-item {
  width: 25%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .list-match-info .match-info-item {
    width: 50%;
    margin-bottom: 16px;
  }
}
.main-content-match-page .list-match-info .match-info-item img {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  object-fit: cover;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .list-match-info .match-info-item img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }
}
.main-content-match-page .list-match-info .match-info-item .info-detail {
  display: flex;
  flex-direction: column;
}
.main-content-match-page .list-match-info .match-info-item .info-detail .label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  /* Gray:900 */
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .list-match-info .match-info-item .info-detail .label {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
  }
}
.main-content-match-page .list-match-info .match-info-item .info-detail .value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1A202C;
  white-space: nowrap;
  display: inline-blocks;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .list-match-info .match-info-item .info-detail .value {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    max-width: 150px;
  }
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .list-match-info .match-info-item {
    width: 50%;
  }
}
.main-content-match-page .match-result-detail-wrapper .row-club {
  display: flex;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .match-result-detail-wrapper .row-club {
    margin-bottom: 8px;
  }
}
.main-content-match-page .match-result-detail-wrapper .row-heading {
  padding: 8px 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background-color: #EDF2F7;
  /* Gray:900 */
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .match-result-detail-wrapper .row-heading {
    padding: 6px;
    font-size: 13px;
    line-height: 15px;
  }
}
.main-content-match-page .match-result-detail-wrapper .club-1 .club-image {
  margin-right: 12px;
}
.main-content-match-page .match-result-detail-wrapper .club-2 {
  flex-direction: row-reverse;
}
.main-content-match-page .match-result-detail-wrapper .club-2 .club-image {
  margin-left: 12px;
}
.main-content-match-page .match-result-detail-wrapper .club-2 .club-name {
  direction: rtl;
}
.main-content-match-page .match-result-detail-wrapper .club-wrapper {
  display: flex;
  align-items: center;
}
.main-content-match-page .match-result-detail-wrapper .club-wrapper .club-image {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.main-content-match-page .match-result-detail-wrapper .club-wrapper .club-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  /* Gray:900 */
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .match-result-detail-wrapper .club-wrapper .club-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-block;
  }
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper {
  width: 100%;
  height: auto;
  padding: 12px 0px;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper {
    padding: 8px 0px;
  }
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .title {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-timeline {
  width: 100%;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .timeline-item {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .timeline-item:last-of-type .time-wrapper .time::after {
  display: none;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .left-timeline {
  justify-content: flex-end;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .left-timeline .player-item {
  flex-direction: row-reverse;
  margin-left: 16px;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .left-timeline .player-item .icon {
  margin-left: 5px;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .right-timeline {
  justify-content: flex-start;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .right-timeline .player-item {
  margin-right: 16px;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .right-timeline .player-item .icon {
  margin-right: 5px;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .timeline-box {
  width: 50%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .time-wrapper {
  min-width: 66px;
  max-width: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .time-wrapper .time {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  /* Gray:400 */
  border: 1px solid #CBD5E0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  /* Gray:900 */
  color: #1A202C;
  position: relative;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .time-wrapper .time::after {
  content: "";
  width: 1px;
  height: 20px;
  border: none;
  background-color: #CBD5E0;
  position: absolute;
  top: 100%;
  left: 50%;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-player {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-player {
    flex-direction: column;
  }
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-player .player-item {
  display: flex;
  align-items: center;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-player .player-item .icon {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-player .player-item .player-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1A202C;
}
@media only screen and (max-width: 991px) {
  .main-content-match-page .match-result-detail-wrapper .timeline-detail-wrapper .list-player .player-item .player-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .h2h-table-wrapper {
    max-width: 90vw;
    overflow: scroll;
  }
}
.h2h-table-wrapper .table-row {
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  /* Gray:900 */
  color: #1A202C;
  border-bottom: 1px solid #EDF2F7;
}
@media only screen and (max-width: 991px) {
  .h2h-table-wrapper .table-row {
    min-width: 846px;
  }
}
.h2h-table-wrapper .column-15 {
  width: 15%;
}
.h2h-table-wrapper .column-10 {
  width: 10%;
}
.h2h-table-wrapper .column-18 {
  width: 18%;
}
.h2h-table-wrapper .table-heading {
  background-color: #EDF2F7;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* Gray:600 */
  color: #718096;
  border-bottom: none !important;
}
.h2h-table-wrapper .league-sign {
  border-radius: 8px !important;
}
.h2h-table-wrapper .league-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.suggestion-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  /* Gray:900 */
  color: #1A202C;
  margin-top: 24px !important;
  margin-bottom: 32px !important;
}
@media only screen and (max-width: 991px) {
  .suggestion-txt {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin-top: 12px !important;
    padding: 0px 12px !important;
  }
}

.macth-text-overflow-club {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}
@media only screen and (max-width: 991px) {
  .macth-text-overflow-club {
    max-width: 180px;
  }
}

/*# sourceMappingURL=match.css.map */
