@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body,
html {
	font-family: 'Rubik' !important;
	background-color: #f5f5f5;
}

img {
	max-width: 100%;
}

a,
button,
.btn {
	transition: all 0.4s ease;
}

.over {
	transition: all 0.4s ease;

	&:hover {
		opacity: 0.7;
	}
}

.list-style-none {
	list-style: none !important;
}


a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
	margin: 0;
	padding: 0
}


.column-50 {
	width: 50%;
}

.d-flex {
	display: flex;
}

.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.flex-end {
	justify-content: flex-end;
}

.flex-center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}

.mt-16 {
	margin-top: 16px;
}

.mb-16 {
	margin-bottom: 16px;
}

.count {
	margin: 0px 3px;
}

.count-live {
	color: #718096;
}

.txt-live {
	color: #E53E3E !important;
}

.txt-primary {
	color: #1A202C !important;
}

.txt-secondary {
	color: #A0AEC0 !important;
}

.txt-danger {
	color: #E53E3E !important;
}

.txt-info {
	color: #3AC5C9 !important;
}

.txt-success {
	color: #0DC66D !important;
}

.bd-top {
	border-top: 1px solid #EDF2F7;
}

.main-layout {
	display: flex;
}

.left-layout {
	min-width: 282px;
	max-width: 282px;
	margin-right: 24px;

	@include mq(max_md) {
		display: none;
	}
}

.right-layout {
	min-width: 282px;
	max-width: 282px;
	margin-left: 24px;

	@include mq(max_md) {
		display: none;
	}
}

.middle-layout {
	flex-grow: 1;
}



.calendar {
	background: #fff;
	overflow: hidden;
	position: relative;
	max-width: 100%;
	padding: 12px 4px;
	border: 1px solid #E2E8F0;
	border-radius: 8px;
}

@media only screen and (max-width: 991px) {
	.calendar {
		max-width: 100%;
	}
}

.ui-datepicker-header {
	height: auto;
	width: 100%;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1A202C;
	margin-bottom: 16px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 24px;
	height: 24px;
	text-indent: 9999px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 0px;
	position: relative;
}

.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 8px;
	position: relative;
}

.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border-left: 2px solid #3AC5C9;
	border-bottom: 2px solid #3AC5C9;
	top: 48px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #3AC5C9;
}

.ui-datepicker-title {
	text-align: center;
}

@media only screen and (max-width: 991px) {
	.ui-datepicker-title {
		margin-top: 10px;
	}
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 35px;
	margin-bottom: 8px;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #718096;
}

.ui-state-default {
	text-decoration: none;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #1A202C;
}

.ui-state-default:hover {
	text-decoration: none;
}

.ui-datepicker-today .ui-state-highlight {
	color: #FFFFFF;
	border-radius: 50%;
	background-color: #3AC5C9;
}

.ui-datepicker-today .ui-state-active {
	color: #fff !important;
}

.ui-state-active {
	color: #3AC5C9;
}

.ui-datepicker-other-month .ui-state-default {
	color: #A0AEC0;
}

.datetime-picker-wrapper {
	width: 100%;
	background: #FFFFFF;
	/* Gray:300 */
	border-radius: 8px;

}


//// E============END STYLE CALENDER =========

.siderbar-block-common__wrapper {
	background: #FFFFFF;
	/* Gray:300 */

	border: 1px solid #E2E8F0;
	border-radius: 8px;
	padding: 16px;

	@include mq(max_md) {
		padding: 8px;
		border-radius: 0;
		background-color: #fff;
		border: none;
		margin-bottom: 16px 8px;
	}

	.block-title {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #1A202C;
		margin-bottom: 16px;
	}
}


// =======STYLE LIST LEAGUE =========


.league-item {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-bottom: 12px;

	&:hover {
		text-decoration: none;
	}
}

.league-image-common {
	min-width: 24px;
	max-width: 24px;
	height: 24px;
	object-fit: cover;
	border: none;
	border-radius: 50%;
	margin-right: 16px;
}

.league-name {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #1A202C;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
}



// =========style input common=========
.search-wrapper-common {
	width: 100%;
	height: auto;
	padding: 6px;
	border: none;
	border-radius: 6px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: #EDF2F7;
	border-radius: 6px;

	.icon {
		display: flex;
		width: 20px;
		height: 20px;
		justify-content: center;
		align-items: center;
		margin-right: 6px;
	}

	input {
		flex-grow: 1;
		width: 100%;
		border: none;
		outline: none;
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		cursor: pointer;
		/* identical to box height */


		/* #FFFFFF */

		color: #1A202C;
		background-color: transparent;

		&:focus {
			outline: none;
		}

		&::placeholder {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: #718096;
		}
	}
}

.menu-search {
	background: rgba(255, 255, 255, 0.1);
	padding: 10px 6px;
}

.sidebar-search {
	background: #EDF2F7;
	padding: 8px 6px;
	margin-bottom: 16px;
}

.button-common {
	width: 100%;
	display: block;
	padding: 10px 0px;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid rgba(49, 57, 85, 0.6);
	border-radius: 4px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	text-align: center;

	/* #313955 */

	color: #313955;

	&:focus {
		outline: none;
	}
}

// =============END STYLE INPUT SEARCH COMMON =========

.list-result-wrapper {

	.date-label {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		/* identical to box height */


		/* Gray:900 */

		color: #1A202C;
		display: inline-block;
		margin-bottom: 10px;
	}

	.list-result {
		width: 100%;
		display: flex;
		flex-direction: column;

		.result-item {
			padding: 10px 16px;
			display: flex;
			align-items: center;

			&:hover {
				cursor: pointer;
				background: #EDF2F7;
				border-radius: 8px;
			}
		}

		.club-wrapper {
			min-width: 60px;
			max-width: 60px;
			display: flex;
			flex-direction: column;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.club-image {
			min-width: 44px;
			max-width: 44px;
			height: 44px;
			object-fit: cover;
			margin-bottom: 8px;
		}

		.club-name {
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			text-align: center;

			/* Gray:900 */

			color: #1A202C;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 65px;
		}

		.result-detail {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.league-name {
				font-style: normal;
				font-weight: 400;
				font-size: 10px;
				line-height: 12px;
				/* identical to box height */

				text-align: center;

				/* Gray:600 */

				color: #718096;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				max-width: 90px;
			}

			.list-score {
				display: flex;
				align-items: center;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 24px;
				/* identical to box height */

				text-align: center;

				/* Gray:900 */

				color: #1A202C;
				margin: 2px 0px;
			}

			.sign {
				font-style: normal;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				text-align: center;

				/* Gray:600 */

				color: #718096;
			}

			.dash {
				margin: 0px 8px;
			}
		}
	}
}



.block-club-common {
	display: flex;
	align-items: center;
	width: 100%;
	border: none;
	margin-bottom: 8px;
	padding: 8px;
	padding-left: 0;
	padding-right: 12px;

	&:hover {
		background-color: #EDF2F7;
		cursor: pointer;
	}

	@include mq(max_md) {}

	.time-wrapper {
		min-width: 66px;
		max-width: 66px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		display: flex;
		align-items: center;

		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-align: center;

		color: #718096;
		margin-right: 10px;

		@include mq(max_md) {
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			min-width: 50px;
			max-width: 50px;
		}

		.type {
			text-transform: uppercase;
			margin-top: 4px;
		}
	}

	.list-club-wrapper {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 0px 16px;
		border-left: 1px solid #E2E8F0;
		border-right: 1px solid #E2E8F0;
	}

	.club-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4px;

		&:last-of-type {
			margin-bottom: 0;
		}

		.club-info-wrapper {
			display: flex;
			align-items: center;

			img {
				min-width: 20px;
				max-width: 20px;
				height: 20px;
				border: none;
				object-fit: cover;
				border-radius: 50%;
				margin-right: 8px;
			}

			.club-name {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				/* identical to box height */


				/* Gray:900 */

				color: #1A202C;

				@include mq(max_md) {
					font-weight: 400;
					font-size: 13px;
					line-height: 15px;
				}
			}
		}

		.score {
			font-style: normal;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			min-width: 8px;
			max-width: 8px;
			display: flex;
			justify-content: center;
		}
	}

	.icon-star {
		margin-left: 16px;
		cursor: pointer;
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {}
	}

	.text-overflow-club {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include mq(max_md) {
			max-width: 160px;
		}
	}
}

// ============LEAGUE TABS ===============
.league-nav {
	width: 100%;
	height: auto;
	display: flex;

	.tab-only-for-pc {
		display: block;

		@include mq(max_md) {
			display: none;
		}
	}

	.dot {
		width: 6px;
		height: 6px;
		border: none;
		display: block;
		border-radius: 50%;
		background-color: #E53E3E;
		margin-right: 6px;

	}

	li {
		min-width: max-content;
		margin-right: 12px;

		a {
			display: inline-block;
			padding: 8px 12px;
			background: #EDF2F7;
			border-radius: 8px;
			text-decoration: none;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			/* identical to box height */


			/* Gray:900 */

			color: #1A202C;
			display: flex;
			align-items: center;
		}
	}

	.ui-tabs-active {
		a {
			background-color: #313955;
			color: #fff !important;

			.count-live {
				color: #fff !important;
			}
		}
	}
}

.league-tab-content {
	padding: 16px 0px;
}



.league-info-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;

	.league-image {
		min-width: 28px;
		max-width: 28px;
		height: 28px;
		object-fit: cover;
		border-radius: 50%;
		border: none;
		margin-right: 16px;

	}

	.league-info {
		display: flex;
		flex-direction: column;

		.group-name {
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 20px;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: #718096;

			@include mq(max_md) {
				font-weight: 400;
				font-size: 11px;
				line-height: 13px;
			}

		}

		.league-name {
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;

			color: #1A202C;

			@include mq(max_md) {
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 15px;

			}
		}

	}

}


// =======STYY LIST CATEGORY =========

.common-list-category {
	display: flex;
	align-items: center;

	@include mq(max_md) {}

	a {
		text-decoration: none;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #4A5568;
		margin-right: 6px;

		&:hover {
			text-decoration: none;
		}

		@include mq(max_md) {
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
		}
	}

	.category-item {
		display: flex;
		align-items: center;
	}

	.arrow {
		margin-right: 6px;

		svg {
			@include mq(max_md) {
				fill: #1A202C !important;
			}
		}
	}
}

// ===========STYLE MATCH TABS =========
.sub-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	border-bottom: 1px solid #EDF2F7;
	padding: 20px 24px 0px 24px;

	@include mq(max_md) {
		padding: 12px 12px 0px 12px;
	}

	li {
		min-width: max-content;
		margin-right: 20px;

		@include mq(max_md) {
			margin-right: 12px;
			min-width: fit-content;
		}

		&:last-of-type {
			margin-right: 0;
		}

		a {
			font-style: normal;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 15px;

			/* Gray:900 */

			color: #1A202C;
			text-align: center;
			padding-bottom: 10px;
			display: block;
			text-decoration: none;
			min-width: max-content;
			position: relative;
			top: 4px;
			left: 0;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.ui-state-active {
		a {
			color: #3AC5C9;
			padding-bottom: 8px;
			border-bottom: 4px solid #3AC5C9;
		}

	}
}


.match-tab-content {
	padding: 32px 24px;

	@include mq(max_md) {
		padding: 16px 12px;
	}
}


.past-match-content-wrapper {
	width: 100%;
	height: auto;
	display: flex;

	@include mq(max_md) {
		flex-direction: column;
	}

	.match-left {
		.header-block {
			display: flex;
			justify-content: flex-start;

			@include mq(max_md) {
				margin-top: 0 !important;
			}
		}

		.club-wrapper {
			.club-image {
				margin-right: 12px;
			}
		}

		@include mq(max_md) {
			width: 100% !important;
			border-bottom: 1px solid #EDF2F7;
		}
	}

	.match-right {
		.header-block {
			display: flex;
			justify-content: flex-end;

			@include mq(max_md) {
				justify-content: flex-start;
			}
		}

		.club-wrapper {
			flex-direction: row-reverse;

			.club-image {
				margin-left: 12px;
			}

			@include mq(max_md) {
				flex-direction: row;

				.club-image {
					margin: 0;
				}

				.club-name {
					margin-left: 12px;
				}
			}
		}


		@include mq(max_md) {
			width: 100% !important;
		}

	}


	.club-wrapper {
		display: flex;
		align-items: center;

		.club-image {
			min-width: 32px;
			max-width: 32px;
			;
			height: 32px;
			;
			border-radius: 50%;
			object-fit: cover;
		}

		.club-name {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			/* identical to box height */


			/* Gray:900 */

			color: #1A202C;

			@include mq(max_md) {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				display: inline-block;
			}
		}
	}


	.middle {
		min-width: 66px;
		max-width: 66px;
		display: flex;
		justify-content: center;
		align-items: center;

		@include mq(max_md) {
			display: none;
		}

		.dash {
			width: 1px;
			height: 100%;
			border: none;
			background-color: #E2E8F0;
		}
	}

	.header-block {
		margin-bottom: 16px;

		@include mq(max_md) {
			margin: 24px 0px 16px 0px;
		}
	}

	.list-past-match-league {
		width: 100%;
		height: auto;

		.list-timeline {
			margin: 16px 0px;

			.block-club-common {
				padding-right: 0 !important;

				&:hover {

					background-color: transparent;
					cursor: auto;
				}
			}
		}
	}
}

.league-sign {
	min-width: 24px;
	max-width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	border-radius: 50%;
	color: #FFFFFF;
	text-transform: uppercase;
}

.league-sign-danger {
	background-color: #E53E3E;
}

.league-sign-success {
	background: #0DC66D;
}

.league-sign-default {
	background: #718096;
}

.progress {
	padding-top: 24px;
	height: fit-content;
	overflow: auto !important;
	background-color: transparent;
}

.progress-success {
	background-color: #0DC66D !important;
	text-align: left !important;
	padding-left: 8px;
	border-radius: 4px 0px 0px 0px;

	.value {
		top: -20px;
		left: 0
	}
}

.progress-primary {
	background-color: #313955 !important;
	text-align: center !important;

	.value {
		top: -20px;
		left: 0
	}
}

.progress-info {
	background-color: #3AC5C9 !important;
	border-radius: 0px 4px 0px 0px;

	.value {
		top: -20px;
		right: 0
	}
}


.progress-bar {
	position: relative;
	height: 28px !important;
	overflow: visible !important;

	.value {
		position: absolute;
	}
}


.right-sidebar-list-odds {
	.odds-item {
		margin-bottom: 16px;

		.odd-club {
			display: flex;
			align-items: center;

			.club-image {
				width: 32px;
				height: 32px;
				object-fit: cover;
				margin-right: 12px;
			}

			.value {
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				color: #1A202C;
				white-space: pre;
			}
		}

		.description {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;

			/* Gray:600 */

			color: #718096;
			margin-top: 8px;
		}
	}
}

.prematch-stading-table-wrapper {
	.column-10 {
		width: 10%;
	}
	.column-70 {
		width: 70%;
	}

	.table-row {
		display: flex;
		align-items: center;
		padding: 8px 0px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		/* identical to box height */

		text-align: center;

		/* Gray:900 */

		color: #1A202C;
	}



	.table-heading {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;

		/* Gray:600 */

		color: #718096;
	}

	.club-image {
		width: 24px;
		height: 24px;
		object-fit: cover;
		margin-right: 12px;
	}

	.list-league-sign {
		display: flex;
		justify-content: flex-end;
		.league-sign  {
			border-radius: 8px !important;
			margin: 0px 1px;
		}
	}
}