@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body, html {
	font-family: 'Rubik' !important;
	background-color: #f5f5f5;
}
img {
	max-width: 100%;
}
a,
button,
.btn {
	transition: all 0.4s ease;
}
.over {
	transition: all 0.4s ease;
	&:hover {
		opacity: 0.7;
	}
}
.list-style-none {
	list-style: none !important;
}


a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin: 0;
	padding: 0
}