@charset "utf-8";
@import "variables";
@import "mixins";


.main-body-wrapper {
  width: 100%;
  height: auto;
  padding: 40px 0px;

  @include mq(max_md) {
    padding: 20px 0px;
  }

  .top-main-content-wrapper {
   .title-wrapper {
    display: flex;
    align-items: center;
    padding: 16px;

    @include mq(max_md) {
      padding: 12px;
      border: none;
    }

    img {
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;

      /* Gray:900 */

      color: #1A202C;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;

        /* Gray:900 */

        color: #1A202C;
      }
    }
   }

   .main-content-block {
    padding: 16px;
    padding-top: 0;
   }

   .live-match-league-table {
    .time-wrapper {
      min-width: 60px !important;
      max-width: 60px !important;
      margin-right: 20px !important;

      @include mq(max_md) {
        margin-right: 0 !important;
      }
    }
   }

   .list-league-hot-match {
    .league-hot-match-item {
      width: 100%;
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .league-name {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #1A202C;
        margin-bottom: 4px;
      }

    }
   }
  }


  .bottom-main-content-wrapper {

    .list-league-wrapper {
      width: 100%;
      .league-item {
        border-bottom: 1px solid #E2E8F0;
        display: flex;
        flex-direction: column;
        padding-top: 8px;
      }

      .list-timeline-wrapper {
        width: 100%;;
        padding: 16px 0px;
        padding-bottom: 0;

        .left-column {
          @include mq(max_md) {
            width: 12% !important;;
          }
        }
      }
    }

  }
}

.slider-league-wrapper {
  margin-top: 16px;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 16px;

  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .league-name-wrapper {
      display: flex;
      align-items: center;

      .league-name {
        font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          cursor: pointer;
          margin-right: 2px;

          /* #313955 */

          color: #313955;
      }
    }

    .btn-see-all {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      text-align: center;

      /* #3AC5C9 */

      color: #3AC5C9;

      &:focus {
        outline: none;
      }
    }
  }

  .league-slider {
    display: flex;
    align-items: center;
  }

  .list-league-slider {
    max-width: calc(990px - 96px);
    overflow: auto;
    padding: 0px 16px;

    .list-league-slider-item {
      min-width: 56px;
      max-width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
    }
  }

  .btn-slider {
    min-width: 32px;
    max-width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;background: #3AC5C9;
    border-radius: 400px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    &:focus {
      outline: none;
    }
  }
}