@charset "utf-8";
@import "variables";
@import "mixins";


.hight-light-page-wrapper {
  background: #FFFFFF;
  /* Gray:300 */

  border: 1px solid #E2E8F0;
  border-radius: 8px;
  height: fit-content;
  padding: 16px;

  @include mq(max_md) {
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent !important;

  }

  .list-league-wrapper {
    .list-timeline-wrapper {
      width: 100%;
      margin-top: 8px;

      .left-column {
        @include mq(max_md) {
          width: 12% !important;;
        }
      }
    }
    .league-item {
      flex-direction: column;
      margin-bottom: 16px;
    }

  }
}