@charset "utf-8";
@import "variables";
@import "mixins";


.footer-wraper {
  background-color: #313955;
  padding: 32px 0px;

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .main-footer {
    display: flex;
    margin-top: 24px;
  }
  .footer-logo {
    display: block;
    min-width: 176px;
    max-width: 176px;
    height: 41px;

    @media (max-width: 991px) {
      min-width: 134px;
      max-width: 134px;
      height: 36px;
    }
  }
}

.footer-wrapper-pc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #ffffff;
  display: flex;

  @media (max-width: 991px) {
    display: none;
  }

  .left-column {
    width: 20%;

    .description {
      margin-bottom: 12px;
    }
  }

  .right-column {
    width: 80%;
    padding: 0px 32px;

    .hot-comming-match {
      margin-top: 24px;
      flex-direction: column;

      .list-comming-match {
        display: flex;
      }
    }
    .top-footer-menu,
    .hot-comming-match {
      display: flex;

      .column {
        width: calc(100% / 4);
      }

      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin-bottom: 12px;
      }

      .sub-menu {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 6px;
          a {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */

            color: #ffffff;
          }
        }

        .text-danger {
          a {
            color: #f1516e !important;
          }
        }
      }
    }
  }
}

.footer-wrapper-mb {
  display: none;
  flex-direction: column;

  @media (max-width: 991px) {
    display: flex;
  }


  .main-footer {
    flex-direction: column;
  }
  .footer-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .description,
    .email,
    .copy-right {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      /* or 154% */

      color: #ffffff;
    }

    .email {
      margin: 8px 0px;
    }
  }

  .sub-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    li {
      margin-right: 16px;
      margin-bottom: 16px;

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height */

        /* #3AC5C9 */

        color: #3ac5c9;
      }
    }
  }

  .hot-match-comming {
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      color: #ffffff;
      margin-bottom: 12px;
    }

    .list-hot-match {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 12px;
        margin-bottom: 4px;
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          /* or 167% */

          color: #ffffff;
        }
      }
    }
  }
}
