@charset "utf-8";
@import "variables";
@import "mixins";

.league-page-wrapper {

  .list-champion-league {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .champion-league-item {
      width: calc((100% - 48px) / 3);
      height: auto;
      background: #FFFFFF;
      /* Gray:300 */

      border: 1px solid #E2E8F0;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 16px 24px;
      margin-bottom: 24px;
      ;

      @include mq(max_md) {
        width: calc((100% - 24px) / 2);
        padding: 12px;
        margin-bottom: 12px;
      }

      .time-label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        /* Gray:600 */

        color: #718096;
        display: inline-block;
        margin-bottom: 12px;

        @include mq(max_md) {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;

        }
      }

      .club-wrapper {
        display: flex;
        align-items: center;

        .club-image {
          min-width: 30px;
          max-width: 30px;
          height: 30px;
          object-fit: cover;
          margin-right: 12px;

          @include mq(max_md) {
            margin-right: 8px;
          }
        }

        .club-name {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */


          /* Gray:900 */

          color: #1A202C;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          ;

          @include mq(max_md) {
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            max-width: 100px;
          }

        }
      }
    }

  }

  #leaguage-stats-player-tabs {
    width: 100%;
  }
}
