@charset "utf-8";
@import "variables";
@import "mixins";

.league-page-wrapper {
  .list-champion-league {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .champion-league-item {
      width: calc((100% - 48px) / 3);
      height: auto;
      background: #FFFFFF;
      /* Gray:300 */

      border: 1px solid #E2E8F0;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 16px 24px;
      margin-bottom: 24px;
      ;

      @include mq(max_md) {
        width: calc((100% - 24px) / 2);
        padding: 12px;
        margin-bottom: 12px;
      }

      .time-label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        /* Gray:600 */

        color: #718096;
        display: inline-block;
        margin-bottom: 12px;

        @include mq(max_md) {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;

        }
      }

      .club-wrapper {
        display: flex;
        align-items: center;

        .club-image {
          min-width: 30px;
          max-width: 30px;
          height: 30px;
          object-fit: cover;
          margin-right: 12px;

          @include mq(max_md) {
            margin-right: 8px;
          }
        }

        .club-name {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          /* identical to box height */


          /* Gray:900 */

          color: #1A202C;
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          ;

          @include mq(max_md) {
            font-weight: 600;
            font-size: 13px;
            line-height: 15px;
            max-width: 100px;
          }

        }
      }
    }

  }

  #leaguage-stats-player-tabs {
    width: 100%;
  }
}


.club-page-wrapper {
  .common-info-wrapper .league-info {
    .league-name {
      max-width: 500px !important;

      @include mq(max_md) {
        max-width: 250px !important;
      }
    }
  }

  .prem-stats-wrapper {
    max-width: fit-content !important;

    .prem-stats-column {
      width: calc(100% / 5) !important;
      padding: 0px 4px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .label {
        max-width: fit-content;
      }
    }
  }

  .club-visual-match-wrapper {
    padding: 16px 0px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .club-visual-match {
    width: 542px;
    height: 550px;
    background-image: url('../images/visual-club-visual.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .visual-line {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;


      &:nth-of-type(1) {
        top: 67px;
        left: 0;

      }

      &:nth-of-type(2) {
        top: 95px;
        left: 0;

        justify-content: space-between;
        padding: 0px 150px;
      }

      &:nth-of-type(3) {
        top: 204px;
        left: 0;
      }

      &:nth-of-type(4) {
        top: 333px;
        left: 0;
      }

      &:nth-of-type(5) {
        top: 446px;
        left: 0;
      }

    }

    .player-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 88px;

      &:last-of-type {
        margin-right: 0;
      }

      .number {
        min-width: 32px;
        max-width: 32px;
        min-height: 32px;
        max-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        /* Gray:900 */

        color: #1A202C;
        background: #3AC5C9;
        border-radius: 40px;
        margin-bottom: 4px;
        ;
      }

      .player-name {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #FFFFFF;

        white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
max-width: 100px;

      }
    }
  }

}